################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dojo_DotNetMVC/v15/Server/sqlite3
# But not these files/directories
!Content/
!.gitignore
/.vs
/MVC5WebAppHacking/obj/Debug
/Dojo_DotNetMVC/obj/Debug/Dojo_DotNetMVC.csproj.AssemblyReference.cache
/Dojo_DotNetMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dojo_DotNetMVC/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
