################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dojo_DotNetMVC/v15/Server/sqlite3
