
@{
    ViewBag.Title = "crapola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>crapola</h2>

The easiest way to display the Add View dialog is to right-click in an action method - Wrox MVC5 Chap 2, p60